<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.mbds.org.securechat">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_icons_threema"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity android:name=".ui.connection.Login" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="fr.mbds.org.securechat.MainActivity"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.messaging.Messaging" android:label="Messages" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.messaging.AddContact" android:label="@string/addcontact_text"/>
        <activity android:name=".ui.connection.Register" android:label="@string/register_text"/>
        <activity android:name=".ui.encryption.DecryptionTester" android:label="@string/app_name"/>

    </application>
</manifest>
